<div class="container-fluid">
  <div class="row pd-2 pb-2 head-title">
    <div class="col-12 text-center">
      <h3 class="text-center">GIPHY API Test</h3>
    </div>
  </div>
</div>



<div class="search-page container">
  <form [formGroup]="gifSearchForm" (ngSubmit)="onSearch()" aria-labelledby="title" *ngIf="gifSearchForm">
    <div class="row mt-4">
      <div class="col-4 offset-2">
        <div class="ng-autocomplete" [ngClass]="{ 'is-invalid': (isFormSubmitted && gifSearchForm.controls['inputText'].errors)}">
          <ng-autocomplete formControlName="inputText"
                           placeholder="Enter gif description to search"
                           [data]="_gifhySuggestedKeywords"
                           [searchKeyword]="'Name'"
                           (selected)='selectEvent($event)'
                           (inputChanged)='onChangeSearch($event)'
                           [itemTemplate]="itemTemplate"
                           [notFoundTemplate]="notFoundTemplate">
          </ng-autocomplete>

          <ng-template #itemTemplate let-item>
            <a [innerHTML]="item.Name"></a>
          </ng-template>

          <ng-template #notFoundTemplate let-notFound>
            <div [innerHTML]="notFound"></div>
          </ng-template>
        </div>

        <div class="invalid-feedback" *ngIf="(isFormSubmitted && gifSearchForm.controls['inputText'].errors)">
          <div *ngIf="gifSearchForm.controls['inputText'].errors['required']">Description is required</div>
        </div>

        <div class="invalid-feedback" *ngIf="(isFormSubmitted && gifSearchForm.controls['inputText'].errors)">
          <div *ngIf="gifSearchForm.controls['inputText'].errors['minlength']">Description is too short</div>
        </div>
      </div>

      <div class="col-4">
        <button type="submit" class="btn btn-primary">Search</button>
      </div>

    </div>
  </form>

  <div class="row mt-5">
    <div class="col-12">
      <button *ngFor="let item of trendingSearchTerms" (click)="searchByTerm(item)" class="btn btn-primary btn-sm trendingterm"># {{item}}</button>
    </div>
  </div>

  <div>
    <p *ngIf="inputText"
       class="text-primary h5 mt-2">
      Showing result for <b>"{{inputText}}"</b> ({{_paginateionConfig.TotalRecords}})
    </p>
  </div>
  <div>

    <div class="row mt-4">
      <div *ngFor="let item of _gifData | paginate: { itemsPerPage: _paginateionConfig.PerPageRecord, currentPage: _paginateionConfig.CurrentPage, totalItems: _paginateionConfig.TotalRecords }" class="col-3 ml-1">
        <div class="card">
          <div class="card-body text-center">
            <img src="{{item.ImageURL}}" />
            <p class="text-center"><b>{{item.Title}}</b></p>
          </div>
        </div>
      </div>
    </div>

  </div>

  <div class="text-center mt-3 h6 mb-4">
    <pagination-controls [ngClass]="{ 'd-none': _paginateionConfig.TotalRecords == undefined || _paginateionConfig.TotalRecords < 1}"
                         (pageChange)="getPage(_paginateionConfig.CurrentPage = $event)">
    </pagination-controls>
  </div>
</div>
