body {
  background-color: bisque !important;
  font-family: Verdana, sans-serif;
}

.card img {
  height: 230px;
  width: 230px;
}

.ng-autocomplete {
  width: 400px;
}

.trendingterm{
    margin-left:8px;
    margin-bottom: 5px;
}

.head-title {
  background-color: #0d6efd;
  color: white;
}
